{% extends "base.html" %}

{% block content %}

<h2 style="float:right">Create a New Goal</h2>
<div id="new_goal" class="edit_box" style="float:right;clear:both">
	<form method="post" action="">{% csrf_token %}
		{{ goalform.as_p }}
		<input type="submit" />
	</form>
</div>

<h1>{{ goal_length }} goals total</h1>
<ol>
{% for category in categories %}
        <li><h2>{{ category.name }}</h2></li>
        <ol>
        {% with category.goal_set.all as goals %}
        {% if goals %}
        	{% for goal in goals  %}
        		{% include "todolist/goal_row.html" %}
        	{% endfor %}
        {% else %}
        	<li>You don't have any goals for {{ category.name }} yet.</li>
        {% endif %}
        {% endwith %}
        </ol>
{% endfor %}

{% if goals_without_categories %}
<li><h2>No Category</h2></li>
{% for goal in goals_without_categories %}
        {% include "todolist/goal_row.html" %}
{% endfor %}
{% endif %}
</ol>

{% endblock %}
