{% extends "base.html" %}

{% block nav_links %}
<a href="{% url goal-list %}">&lt;&lt;Back to Goals</a>
{% endblock %}

{% block js %}
$('#edit_button').button({
	icons: {primary: 'ui-icon-pencil'}
}).click(function(){
	$('#edit_goal,#current_goal').toggle();
});

$('#del_button').button({
	icons: {primary: 'ui-icon-trash'}
}).click(function(){
	if(confirm('Are you sure you want to delete {{ goal.name }}?')){
		$('#delete_form').submit();
	}
});

{% endblock %}

{% block content %}
<div id="edit_goal" class="editform" style="display:none">
	<form method="post" action="{% url edit-goal goal.id %}" style="float:none">
		{% csrf_token %}
		{{ goalform }}
		<input style="display:inline" type="submit" />
		<span type="text" id="datepicker" style="display:none"></span>
	</form>
	<script>
		$('#datepicker').datepicker({
			disabled:true,
			showButtonPanel: true,
			onSelect: function(dateText, inst) {
				$('#id_deadline').val(dateText);
			}
		}).click(function(){
			$('#datepicker').show()
		});
	</script>
</div>

<h2 id="current_goal" style="float:none;clear:both">
        {{ goal.name }} (by {{ goal.deadline|date:"M dS, Y" }})
</h2>
<div id="edit_button">Edit</div>
<div id="del_button">Delete</div>

<div>
	<form id="delete_form" method='post' action='{% url delete-goal goal.id %}'>
		{% csrf_token %}
	</form>
</div>

<form method="post" action="">
	{{ formset.management_form }}
	{% csrf_token %}
	<table>
		<thead>
			<th>Task</th>
			<th>Current</th>
			<th>Done</th>
			<th>Delete</th>
		</thead>
		{% for form in formset.forms %}
			{{ form.id }}
			{% if forloop.last %}
                            <tr class="last">
                        {% else %}
                            <tr class="{% cycle 'odd' 'even' %}">
                        {% endif %}
				<td>{{ form.name }}</td>
				<td>{{ form.is_current }}</td>
				<td>{{ form.is_complete }}</td>
				<td>{{ form.DELETE }}</td>
			</tr>
		{% endfor %}
		<tfoot>
			<td colspan=5><input id="update_tasks" type="submit" value="Update Tasks" /></td>
		</tfoot>
	</table>
</form>
{% endblock %}
