{% extends "base.html" %}

{% block content %}
<div class='nav_links'>
	<a href="{% url goal-list %}">&lt;&lt;Back to Goals</a>
	<a href="{% url view-tasks %}">Show Tasks</a>
</div>

<h1>
	{{ goal.name }}
	<form method='post' action='{% url delete-goal %}'>
		<input type="hidden" name="delete" value="{{ goal.id }}">
		{% csrf_token %}
		<input value="Delete" type="submit" onclick="return confirm('Are you sure you want to delete {{ goal.name }}?')"/>
	</form>
</h1>
<h2>Completion Date: {{ goal.deadline }}</h2>

<form method="post" action="">
	{{ formset.management_form }}
	{% csrf_token %}
	<table>
		<thead>
			<th>Task</th>
			<th>Current</th>
			<th>Done</th>
			<th>Order</th>
			<th>Delete</th>
		</thead>
	{% for form in formset.forms %}
		{{ form.id }}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>{{ form.name }}</td>
			<td>{{ form.is_current }}</td>
			<td>{{ form.is_complete }}</td>
			<td>{{ form.ORDER }}</td>
			<td>{{ form.DELETE }}</td>
		</tr>
	{% endfor %}
	</table>
	<input type="submit" />
</form>
{% endblock %}