{% extends "base.html" %}

{% block nav_links %}
<a href="{% url goal-list %}">&lt;&lt;Back to Goals</a>
{% endblock %}

{% block content %}
<form method='post' action=''>
<input type="submit" value="Update Tasks">
{% csrf_token %}
<ol>
{% for task in tasks %}
	<li>
            <input type="checkbox" name="complete" value="{{ task.id }}"/>
            <a href="{% url view-goal task.parent.id %}" title="Goal: {{ task.parent.name }}">{{ task.name }}</a>
        </li>
{% endfor %}
</ol>
<input type="submit" value="Update Tasks">
</form>
{% endblock %}
