<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}101 Goals{% endblock %}</title>
	<link rel="stylesheet" href="/static/base.css" type="text/css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script>
		$(document).ready(function() {
			{% block js %}{% endblock %}
			$('input[type="submit"]').button().css('font-size', '12px')
		});
	</script>
</head>
<body>
	<div class="nav_links">
		{% block nav_links %}{% endblock %}
		<a href="{% url view-tasks %}">Show Tasks</a>
		<a href="{% url update-categories %}">Edit Categories</a>
		<div class="profile_info">
			<a href="{% url logout %}">logout {{ username }}</a>
		</div>
	</div>
	<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
