body{
    font-family:Ubuntu,Verdana,sans-serif;
    font-size:15px;
    padding:0px;
    margin:0px;
}

#content{
    padding:5px;
}

.nav_links{
    margin-bottom:10px;
    padding:5px;
    background-color:#333333;
}

.nav_links > a:link{
    color:white;
}

.nav_links > a:visited{
    color:white;
}

a:link{
    color:#4878A6;
}

a:visited{
    color:#4A5056;
}

a:hover{
    color:#ACB6BF;
}

a:active{
    color:#4878A6
}

.profile_info{
    float:right;
}

table{
    margin-bottom:10px;
}

h1, h2{
    color:#4878A6;
}

input[type="submit"], input[type="button"]{
    margin:5px;
}

form {
    margin:5px 0px 5px 0px;
}

#datepicker {
    font-size:8px;
}

.edit_box{
    float:left;
    clear:both;
    margin:5px;
}

.ui-button-text {
    font-size:12px;
}

.goal_tag{
    color:black;
    border:2px solid #888;
    border-radius:5px;
    float:left;
    margin-left:3px;
    padding:0px 5px 0px 5px;
}

.edit_box form, .edit_box table{
    background-color:#ddeeff;
    border:2px solid black;
    border-radius:5px;
    padding:5px;
}

table{
    float:left;
    clear:both;
    border-spacing:0px;
    border:2px solid black;
    border-radius:5px;
}

.goal_list{
    float:left;
    clear:both;
}

.goal_list table{
    min-width:800px;
}

form{
    float:left;
    clear:both;
}

td{
    padding:5px;
}

th, tfoot td{
    background-color:#4878A6;
    color:white;
    padding:5px;
}

.odd{
    background-color:#ddeeff;
}

.even{
    background-color:#ffffff;
}
